<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pe.edu.upc.partidon">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MenuActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.WallCourtActivity"
            android:parentActivityName=".Activities.MenuActivity" />
        <activity
            android:name=".Activities.TeamActivity"
            android:parentActivityName=".Activities.MenuActivity" />
        <activity
            android:name=".Activities.MatchWallActivity"
            android:label=" "
            android:parentActivityName=".Activities.MenuActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.MatchSearchActivity"
            android:label="Buscar Partidos"
            android:parentActivityName=".Activities.MenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pe.edu.upc.partidon.Activities.MenuActivity" />
        </activity>
        <activity
            android:name=".Activities.TeamSearchActivity"
            android:label="Buscar Equipos"
            android:parentActivityName=".Activities.MenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pe.edu.upc.partidon.Activities.MenuActivity" />


        </activity>
        <activity
            android:name=".Activities.CourtSearchActivity"
            android:label="Buscar Canchas"
            android:parentActivityName=".Activities.MenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pe.edu.upc.partidon.Activities.MenuActivity" />
        </activity>
    </application>

</manifest>